.evidence
    background-image: linear-gradient(to bottom, rgba(39,243,106,0.15), rgba(39,243,106,0.15))
    color: beta

.evidence-yellow
    background-image: linear-gradient(to bottom, rgba(255, 252, 3, 0.47), rgba(255, 252, 3, 0.47))
    color: beta

.evidence-purple
    background-image: linear-gradient(to bottom, rgba(154, 39, 244, 0.19), rgba(154, 39, 244, 0.19))
    color: beta

.evidence-skyblue
    background-image: linear-gradient(to bottom, rgba(3, 188, 228, 0.24), rgba(3, 188, 228, 0.24))
    color: beta

.star
    > .url > .title
        width: auto !important
        display: inline
        background-image: linear-gradient(rgba(39,243,106,0.15), rgba(39,243,106,0.15))

.twitter-tweet
    margin: 10px auto

.icon
    display: inline-block
    width: 17px
    height: 17px
    fill: #000
    text-align: center
    color: #000
    margin: 7px auto

.modal-caption
    position: relative
    top: 1rem
    left: 0
    right: 0
    margin: 0 auto
    width: 100%
    text-align: center
    font-size: 1.3rem

.bigger-image
    min-width: 130%
    margin: 5rem 0 5rem -15%

    @media #{$mobile}
        min-width: 114%
        margin: 2rem 0 2rem -7%

    @media #{$tablet}
        min-width: 114%
        margin: 2rem 0 2rem -7%


.breaker
    height: 1px
    margin: 6rem auto
    width: 100%

    &:before
        content: "• • •"
        width: 100%
        text-align: center
        display: block
        color: $gama
        letter-spacing: 4px
        position: relative
        top: -8px

.underlined
    border-top-style: dotted
    border-top-color: $gama
    border-top-width: thin


  .underlined
    border-bottom-style: dotted
    border-bottom-color: rgb(8, 221, 121)


  /* Style the Image Used to Trigger the Modal */
#myImg
  border-radius: 5px
  cursor: pointer
  transition: 0.3s


#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal
 /* Hidden by default */
  display: none
  /* Stay in place */
  position: fixed
  /* Sit on top */
  z-index: 1
  /* Location of the box */
  padding-top: 100px
  left: 0
  top: 0
  /* Full width */
  width: 100%
  /* Full height */
  height: 100%
  /* Enable scroll if needed */
  overflow: auto
  /* Fallback color */
  background-color: rgb(0,0,0)
  /* Black w/ opacity */
  background-color: rgba(0,0,0,0.9)
  cursor: pointer
}

/* Modal Content (Image) */
.modal-content
  margin: auto
  display: block
  width: 100%
  max-width: 700px


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption
  margin: auto
  display: block
  width: 80%
  max-width: 700px
  text-align: center
  color: #ccc
  padding: 10px 0
  height: 150px


/* Add Animation - Zoom in the Modal */
.modal-content, #modal-caption
  animation-name: zoom
  animation-duration: 0.6s


@keyframes zoom
  from {transform:scale(0)}
  to {transform:scale(1)}


/* The Close Button */
.close
  position: absolute
  top: 15px
  right: 35px
  color: #f1f1f1
  font-size: 30px
  font-weight: bold
  transition: 0.3s


.close:hover,
.close:focus
  color: #bbb
  text-decoration: none
  cursor: pointer


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px)
  .modal-content
      width: 100%
