---
layout: page
---

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- go to Top -->
<a class="scrollUp" onclick="javascript:scrollUp();" href=#><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<style>
.scrollUp {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 0%;
    bottom: 0px;
    z-index: 999;
    padding: 12px 12px;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(34, 34, 34);
}

@media (min-width: 800px) {
      .scrollUp {
            right: 10%;
      }
}
</style>

<!-- modal Image -->
<style>
/* Style the Image Used to Trigger the Modal */
#myImg {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0, 0, 0, 0.62); /* Black w/ opacity */
cursor: pointer;
}

/* Modal Content (Image) */
.modal-content {
margin: auto;
padding: auto;
display: block;
width: 100%;
max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ffffff;
padding: 10px 0;
height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
animation-name: zoom;
animation-duration: 0.6s;
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 30px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
    width: 100%;
}
}
</style>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script>
var scrollUpDelay = 1;
var scrollUpSpeed = 30;

var modal = document.getElementById('myModal');
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
var span = document.getElementsByClassName("close")[0];

function scrollUp()
{
	if(document.body.scrollTop<1)
	{
		return;
	}
	document.body.scrollTop=document.body.scrollTop-scrollUpSpeed;
	setTimeout('scrollUp()',scrollUpDelay);
}

$(document).ready(function() {
	$(window).scroll(function() {
		if($(document).scrollTop() > 300) {
			$('.scrollUp').fadeIn();
		} else {
			$('.scrollUp').fadeOut();
		};
	});

  console.log('b');
  $('#myImg').click(function() {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
      console.log('c');
    });

    $('.close').click(function() {
        modal.style.display = "none";
    });

    modalImg.src = '';
    captionText.innerHTML = '';
});
</script>

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
